<div data-ng-controller="ProductsCtrl">

  <div class="row alerts-container" data-ng-show="alerts.length">
    <div class="col-xs-12">
      <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    </div>
  </div>

  <!--
  <div class="row">
  	<div class="col-lg-3 col-md-6 col-xs-12">
  		<rd-widget>
  			<rd-widget-body>
  				<div class="widget-icon blue pull-left">
  					<i class="fa fa-files-o"></i>
  				</div>
  				<div class="title">{{documents.length}}</div>
  				<div class="comment">Docs needed</div>
  			</rd-widget-body>
  		</rd-widget>
  	</div>
    <div class="col-lg-3 col-md-6 col-xs-12">
  		<rd-widget>
  			<rd-widget-body>
  				<div class="widget-icon red pull-left">
  					<i class="fa fa-times"></i>
  				</div>
  				<div class="title">{{pendingDocs}}</div>
  				<div class="comment">Pending docs</div>
  			</rd-widget-body>
  		</rd-widget>
  	</div>
  	<div class="col-lg-3 col-md-6 col-xs-12">
  		<rd-widget>
  			<rd-widget-body>
  				<div class="widget-icon orange pull-left">
  					<i class="fa fa-warning"></i>
  				</div>
  				<div class="title">{{reviewDocs}}</div>
  				<div class="comment">Docs to review</div>
  			</rd-widget-body>
  		</rd-widget>
  	</div>
    <div class="col-lg-3 col-md-6 col-xs-12">
  		<rd-widget>
  			<rd-widget-body>
  				<div class="widget-icon green pull-left">
  					<i class="fa fa-check"></i>
  				</div>
  				<div class="title">{{validDocs}}</div>
  				<div class="comment">Valided doc</div>
  			</rd-widget-body>
  		</rd-widget>
  	</div>
  </div>
  -->

  <div class="row">
    <div class="col-lg-8">
      <rd-widget>
        <rd-widget-header icon="fa-file-text" title="Documents list">
          <button ngf-select="uploadFiles($files, $invalidFiles)" multiple
                   ngf-max-size="5MB">Select documents</button>
          <!--<a href="#" target="_blank"><i class="fa fa-folder"></i>Box folder</a>-->
        </rd-widget-header>
        <rd-widget-body classes="large no-padding">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center" width="10px">ID</th>
                  <th>Name</th>
                  <th>Date added</th>
                  <th>Status</th>
                  <th>Preview</th>
                </tr>
              </thead>
              <tbody ng-repeat="doc in documents">
                <tr ng-class="{'success': (doc.changed)}">
                  <td width="10px">{{$index+1}}</td>
                  <td>{{doc.name}}<br><i>{{doc.fileName}}</i></td>
                  <td>{{doc.added}}</td>
                  <td><i class="fa text-{{doc.status}}" ng-class="{'fa-times-circle': (doc.status=='danger'),'fa-check': (doc.status=='success'),'fa-warning': (doc.status=='warning')}"></i></td>
                  <td><i class="fa fa-file-o" ng-show="doc.status!='danger'"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </rd-widget-body>
      </rd-widget>
    </div>
    <div class="col-lg-4">
      <!--<h4>Upload a document</h4>
      <button ngf-select="uploadFiles($files, $invalidFiles)" multiple
               ngf-max-size="5MB">
          Select documents</button>
          <p ng-show="files">Analyzing documents:</p>
          <ul>
            <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}
              <span class="progress" ng-show="f.progress >= 0">
                <div style="width:{{f.progress}}%"
                    ng-bind="f.progress + '%'"></div>
              </span>
            </li>
            <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
            </li>
          </ul>
          {{errorMsg}}
        -->
      <rd-widget>
        <rd-widget-header icon="fa-comments-o" title="OnPointe Power - Chat">
          <!--<input type="text" placeholder="Search" class="form-control input-sm" />-->
        </rd-widget-header>
        <rd-widget-body classes="large no-padding">
          <!-- add chat box here -->
          <iframe src="https://master-builders-service.mybluemix.net/ui/#/0" frameBorder="0" width="100%" height="350">
          </iframe>
        </rd-widget-body>
        <rd-widget>
    </div>
  </div>

</div>
